<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - FSD Chatbot</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'pic/logo.png' %}" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">HOME</a></li>
                <li><a href="#about">ABOUT FSD</a></li>
                <li><a href="#contact">CONTACT</a></li>
                <li><a href="#knowledge">KNOWLEDGE</a></li>
                <li><a href="#dataprotection">DATA PROTECTION</a></li>
                <li class="language"><a href="#"><img src="{% static 'pic/flagg_de.png' %}" alt="German"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container center-content">
            <div class="register-form">
                <h2>Register</h2>
                <form id="registerForm" method="POST" onsubmit="return validateForm()">
                    {% csrf_token %}
                    <label for="FirstName">First Name:</label>
                    <input type="text" id="FirstName" name="FirstName" required>
                    <label for="LastName">Last Name:</label>
                    <input type="text" id="LastName" name="LastName" required>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                    <button type="submit">Register</button>
                </form>
                <p class="sign-up-prompt">Already have an account? <a href="{% url 'login' %}">Login</a></p>
                <p id="registerError" class="error-message"></p>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 FSD Chatbot. All rights reserved.</p>
    </footer>
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>
